<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title> <%= title %> </title>
    </head>
    <body>
        <header>
            <h1>Movies</h1>
            <%- include('./includes/nav.ejs') %>
            <h1><%= title %></h1>
            <p><%= message %></p>
        </header>
    </body>
</html>